@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

$bodyBackground : #f7f7f7;
$backgorundColor : #fff;
$activeBtnColor : #1d8ff4;
$defaultBtnColor : #1d8ff4;
$black: #000;
$lighBorder : #f3f3f3;
$maxWidth : 100%;

body{
    font-family: 'PT Sans',sans-serif;
    background: $bodyBackground;
}

header{
    height:30px;

}

.container {
     padding-right: 0; /*15px in bootstrap.css*/
     padding-left: 0;  /*idem*/
     margin-right: auto;
     margin-left: auto;
}

.form-row{
    margin:0px;
    background:$backgorundColor;
    box-shadow: 0px 0px 1px -2px #fff;
}

.col-sm-12{
    padding-right: 0px; 
}

.col-md-6{
    @extend .col-sm-12
}


.header-title{
    text-align: left;
    font-size:20px;
    font-weight: 700;
    padding: 10px;
}
.main-wrapper{
    margin-top:5vH;
    //background: $backgorundColor
}

.preview-view{
    background-color: whitesmoke;
}

.editor-contentEditable{
    width:$maxWidth;
    height:450px;
    margin: 0 auto;
    border-top:1px solid $lighBorder;
    overflow-x: hidden;
    padding:9px;
    word-wrap: break-word;
    &:focus{
        outline:none;
    }
}


.form-wrapper{
    width:$maxWidth;
}


input[type="file"] {
    display: none;
}

// .custom-file-upload {
//     border: 1px solid #ccc;
//     display: inline-block;
//     padding: 6px 12px;
//     cursor: pointer;
// }


.form-title{
    border: 0px;
    border-bottom: 1px solid #f3f3f3;
    border-radius: 0;
    font-size: 20px;
    width: 100%;
    padding: 10px 10px;
    color: #000;
    font-weight: 400;

    &:focus{
        outline:0px;               
    }
}

.btns-container {
    padding: 10px 5px;
}

.btn-style{
    margin-left:3px;
    margin-right:3px;

    &:focus{
        outline:0;
    }
}
.footer-btns{
    padding: 10px 5px;
    width:$maxWidth;
    background:$bodyBackground;
    height:45px;
}

.pull-left{
    float:left;
}

.pull-right{
    float:right;
}

.postsView{
    line-height: 2;
    padding-left: 10px;
}

.util-margin{
    margin-bottom: 5px;
}